<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,900&display=swap" rel="stylesheet">
    <link href="/css/normalize.css"/>
    <link href="/css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9d20c25172.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="main-header">
        <img src="/image/logo-mercado-liebre.svg" class="logo">
        <div class="main-header-top-bar">
            <div class="search-bar">
                <input type="text" placeholder="Buscar productos, marcas"> <i class="fas fa-search"></i>
            </div>
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <nav class="main-nav-bar">
            <ul class="left-nav-bar">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
        
        <nav class="rigth-nav-bar">
            <ul>
                <li>
                    <a href="/register">Crea tu cuenta</a><i class="fas fa-id-card"></i>
                </li>   
                <li>
                    <a href="/login">Ingresanpx</a><i class="fas fa-sign-in-alt"></i>
                </li>
                <li>
                    <a href="">Mis compras</a><i class="fas fa-shopping-basket"></i>
                </li>
            </ul>
        </nav>
        </nav>
        
        <a class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </a>
    </header>
    <main >
        
            <div>
            <img src="/image/img-home-banner.jpg" alt="home-banner" class="img-banner">
            </div>
            <p class="ultima-visita">
            Basado en tu última visita
            </p>
            <p class="ofertas">
            Ofertas
            </p>
        <div class="container-flex">
            <section class="producto1" class="uno">
                <img src="/image/img-cafetera-moulinex.jpg" alt="cafetera" class="producto">
                <article>
                    <i class="fas fa-truck"></i>
                    <p class="precio">
                    $6.770
                    </p>
                    <p class="descuento">
                    40% OFF
                    </p>
                    <p class="descripcion">
                    Cafetera Moulinex
                    </p>
                </article>
            </section>
            
            <section class="producto1" class="dos">
                <img src="/image/img-macbook-pro-2019.jpg" alt="Mc-book" class="producto">
                <article>
                    <i class="fas fa-truck"></i>
                    <p class="precio">
                    $230.000
                    </p>
                    <p class="descuento">
                    20% off
                    </p>
                    <p class="descripcion">
                    MacBook Pro 2019
                    </p>
                </article>
            </section>
            <section class="producto1" class="tres">
                <img src="/image/img-samsung-galaxy-s10.jpg" alt="galaxy-s10" class="producto">
                <article>
                    <i class="fas fa-truck"></i>
                    <p class="precio">
                    $70.500
                    </p>
                    <p class="descuento">
                    10% off
                    </p>
                    <p class="descripcion">
                    Samsung Galaxy S10
                    </p>
                </article>
            </section>
            <section class="producto1" class="cuatro">
                <img src="/image/img-tv-samsung-smart.jpg" alt="tv-samsung-smart" class="producto">
                <article>
                    <i class="fas fa-truck"></i>
                    <p class="precio">
                    $23.200
                    </p>
                    <p class="descuento">
                    5% off
                    </p>
                    <p class="descripcion">
                    SmartTv Samsung 43"
                    </p>
                </article>
            </section>
        </div>
        
    </main>
    <footer class="footer">
        <div class="box-footer">
            <i class="fas fa-credit-card" class="icon-footer" ></i>
            <div class="titulos-footer" >
                <strong>
                Pagá con tarjeta o en efectivo
                </strong>             
            </div>
            <p> 
                Mercado Liebre Cash, tenés cuotas sin<br> interés con tarjeta o efectivo en
                puntos de<br> pago. ¡Y siempre es seguro!
            </p>
        </div>
        <div class="box-footer">
            <i class="fas fa-gift"></i>
            <div class="titulos-footer" >
                <strong>
                    Envío gratis desde $ 2.500
                </strong>             
            </div>
            <p> 
                Solo por estar registrad@ en Mercado Liebre<br> tenés envíos gratis en miles de
productos. Es<br> un beneficio de Mercado Puntos.
            </p>
        </div>
        <div class="box-footer">
            <i class="fas fa-user-shield"></i>
            <div class="titulos-footer" >
                <strong>
                    Seguridad, de principio a fin
                </strong>             
            </div>
            <p> 
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre<br> no hay nada que no puedas hacer<br>
porque estás siempre protegid@.
            </p>
        </div>
        <p class="copyrigth">
            Copyright © 1999-2020 MercadoLiebre S.R.L.
        </p>



    </footer>

</body>
</html>